// COLORS
$white:                 #fff;
$grey:                  #595a5c;
$grey-light:            #acacad;
$grey-border:           #ccc;
// $grey-dark:             #89949B;
$orange:                #f36d22;
$blue:                  #2e97de;

// TYPOGRAPHY
$font-family-base:      'Helvetica Neue', Helvetica, Arial, sans-serif;

// COMPONENTS
html {
  font-family: $font-family-base;
}

// HEADER 
header {
  height: 100px;
  &.nav, &.navbar-default {
    background-color: transparent;
    border-radius: 0px;
    border: 0px solid $grey-border;
    border-bottom: 1px solid $grey-border;
    margin-bottom: -1px;
  }
}

// CATALOG
.catalog {
  width: 100%;
  background-color: $white;
  font-family: $font-family-base;

  .catalog-new {
    a {
      color: $grey;
      border-radius: 0px;
      border-left: 1px solid $white;
      border-right: 1px solid $white;
      border-bottom: 2px solid $white;
      &:hover {
        color: $orange;
        background-color: $white;
        border: 1px solid $grey-border;

      }
      &:focus {
        // width: 90%;
        &:hover {
          border: 0px;
          border-bottom: 2px solid $orange;
          border-top: 1px solid $grey-border;
          border-left: 1px solid $grey-border;
          border-right: 1px solid $grey-border;
        }
        color: $orange;
        background-color: $white;
        border-bottom: 2px solid $orange;
        border-top: 1px solid $grey-border;
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        border-radius: 0px;
      }
    }
  }

  .catalog-category {
    .dropdown-toggle {color: $grey;}
    a {
      border-left: 1px solid $white;
      border-right: 1px solid $white;
      border-bottom: 2px solid $white;
    }
    a:focus {
      // max-width: 90%;
      color: $orange;
      background-color: $white;
      border-bottom: 2px solid $orange;
      border-top: 1px solid $grey-border;
      border-left: 1px solid $white;
      border-right: 1px solid $white;
      border-radius: 0px;
    }
    &.active {
      .dropdown-toggle {
        // width: 90%;
        color: $orange;
        background-color: $white;
        border-bottom: 2px solid $orange;
        border-top: 1px solid $grey-border;
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        border-radius: 0px;
      }
    }
    &.open {
      // a {width: 90%;}
      .dropdown-toggle {
        color: $orange;
        background-color: $white;
        border: 1px solid $grey-border;
        border-radius: 0px;
      }
      .dropdown-menu {
        border: 1px solid $grey-border;
        border-radius: 0px;
        margin: -1px 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        .catalog-subcategory {
          color: $grey;
          &:hover a {
            color: $orange;
            background-color: $white;
          }
          &.active a {
            color: $orange;
            background-color: $white;
          }
        }
      }
    }
  }

  .catalog-sell {
    a {
      color: $white;
      background-color: $orange;
      border-radius: 0px;
      // border-bottom: 2px solid $orange;
      &:hover, &:focus {background-color: $orange;}
    }
  }
}

// BANNER
.banner {
  background-size: 'cover';
  background-repeat: 'no-repeat';
  height: 200px;
  color: $white;
}